<html>
	<head>
		<title>home Page</title>
		<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<body>
		<br/>
		<div id="app">
		</div>
	  <script type="text/javascript" src="bundle.js"></script>
	</body>
</html>