<html>
	<head>
		<title>home Page</title>
		<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
<<<<<<< HEAD
	<body style="background-color:ghostwhite">
=======
	<body background-color="ghostwhite">
>>>>>>> fbb3f496037d8d9ab249e110cc1526ae82767518
		<br/>
		<div id="app">
		</div>
	  <script type="text/javascript" src="bundle.js"></script>
	</body>
</html>
